@import "../../scss/main.scss";

.gallery-container {
  @include background-styles;
  background-image: url("../../assets/Images/BackgroundImages/flower-2336287.jpg");
}
.gallery-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

  &__title {
    @include article-title;
  }
  &__link {
    @include link;
  }
}

.gallery-content {
  display: flex;
  justify-content: space-evenly;
  padding: 0 120px;
  @media (max-width: 1350px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .gallery-manager {
    &__link {
      text-decoration: none;
    }

    &__container {
      box-sizing: content-box;
      height: 350px;
      width: 500px;
      overflow: hidden;
      position: relative;
      transition: transform 2s, filter 1.5s ease-in-out;
      filter: brightness(50%);
      border-radius: $round-border;

      &:hover {
        cursor: pointer;
      }
      &:hover img {
        transform: scale(1.1);
      }

      &:hover {
        filter: brightness(110%);
      }

      @media (max-width: 540px) {
        height: 250px;
        width: 300px;
      }
      @media (max-width: 360px) {
        height: 150px;
        width: 220px;
      }
    }

    img {
      height: 350px;
      width: 500px;
      transform: scale(1);
      transition: transform 0.9s ease;
      border-radius: inherit;

      @media (max-width: 540px) {
        height: 250px;
        width: 300px;
      }

      @media (max-width: 360px) {
        height: 150px;
        width: 220px;
      }
    }

    &__title {
      text-align: center;
      @include article-title;
      margin: map-get($margin, m) 0;
    }
  }
}
