@import "../../scss/main.scss";

.articles-container {
  @include background-styles;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: map-get($margin, xl);
  &__title {
    @include article-title;
  }
  &__link {
    @include link;
  }
}

.articles {
  list-style: none;
  width: 90%;

  &__list {
    @include article-container;
    margin: 40px 0;
  }

  &__image {
    @include article-image;
  }

  &__title {
    @include article-subtitle;
  }

  &__content {
    @include article-text;
    width: 90%;
  }
  &__button {
    @include article-button;
    margin-top: map-get($margin, xl);
  }

  &__date {
    @include article-date;
  }
}
.articles-addons {
  &__info {
    font-family: $font-alt;
    text-align: center;
    font-size: map-get($font-sizes, s);
    font-weight: bold;
    color: map-get($article-colors, art-text);
    border: 2px dashed map-get($article-colors, art-text);
    padding: 13px;
    border-radius: $button-border;

    @media (max-width: 360px) {
      width: 250px;
    }
  }

  &__button {
    @include article-button;
    width: 300px;
    @media (max-width: 360px) {
      width: 250px;
    }
  }
}
