@import "../../scss/main.scss";

.home {
  margin: 70px 0 20px ;
  display: flex;
  align-items: center;
  flex-direction: column;   

  &__title {
    @include article-title;

    @media (max-width: 450px) {
      font-size: 35px;
      margin: auto;
      text-align: center;
     
    }

    @media (max-width: 450px) {
      font-size: 30px;
    }
    span {
      display: block;
    }
  }
  &__wraper {
    display: flex;
    flex-direction: column;
    width: 80%;

    @media (max-width: 1026px) {
    width: 90%;
    }
  }
  &__elements {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    @media (max-width: 1026px) {
      display: flex;
      flex-direction: column;
       margin-top: 35px;
    }

  }
  &__text {
    @include article-text;
    font-size: 30px;
    color: rgb(92, 93, 93);
    flex: 3;
    margin-right: 40px;
    @media (max-width: 1026px) {
     width: 95%;
     margin: auto;
    }
    @media (max-width: 450px) {
      font-size: 20px;
      text-align: center;
      width: 95%;
    }
    @media (max-width: 300px) {
      font-size: 18px;
     
    }
  }
  &__image {
    align-self: center;
    flex: 1;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    @media (max-width: 1026px) {
    margin-top: 35px;
    }
    @media (max-width: 450px) {
      width: 65vw;
     
    }
  }
}
