@import "../../../scss/main.scss";

.organization {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    @include article-title;
  }
  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    border-radius: 10px;
    padding: 50px 0;
    margin: 30px 0;
    background-color: map-get($colors, article-wrapper);
    @media (max-width: 748px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    width: 200px;
    @media (max-width: 748px) {
      margin-bottom: 50px;
    }

    @media (max-width: 450px) {
      width: 150px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  &__element {
    margin-bottom: 20px;
  }
  &__element-link {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-family: $font-alt;
    font-size: map-get($font-sizes, m);
    color: map-get($article-colors, art-text);
    transition: 0.5s ease;
    &:hover {
      color: map-get($font-colors, hover-effect);
    }
    @media (max-width: 450px) {
      font-size: map-get($font-sizes, s);
    }
  }
  &__element-image {
    width: 35px;
    margin-right: 15px;
  }
}
