@import "../../scss/main.scss";
.information {
  @include information-container;

  &__title {
    @include article-title;
  }

  &__wrapper {
    @include information-wrapper;
    // flex-direction: column;
    align-items: center;
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__subtitle {
    @include paragraph;
  }

  &__link {
    @include information-element-link;
  }
}
